:root {
    font-family: 'Roboto Mono';
}

body {
    color: black;
    background-color: white;
    height: 100%;
    /* order: top right bottom left */
    /* margin: 30px 0px 0px 0px; */
    margin: 0px;
    padding: 0;
    font-size: 100%;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
html {
    height: 100%;
    margin: 0;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    /* padding: 14px 0px; */
    /* margin-left: 40%; */
    font-size: 17px;
    /* width: 25%; */
    width: 120px;
    height:100%;
}

.pageTabs{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height:30px;
    z-index: 1;
}

.tablink:hover {
    background-color: #777;
}

.moreLess {
    border: none;
    color: blue;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    padding: 0;
    border: none;
    background: none;
  }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    /* padding: 52px 0px; */
    /* padding-top: 30px; */
    height: 100%;
}

#Home {background-color: white;}
#Research {background-color: white;}


.container{
    /* Could use margin %s instead of set width */
    width: 700px;
    margin: 0px auto;
    /* padding: 5px; */
}

.header-section{
    /* position: relative; */
    width: 700px;
    height: 100px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

/* .header-frame{
    margin: 0px;
} */

.header-section h1{
    color: rgb(113, 15, 113);
    font-weight: 700;
    margin: 0px 0px 0px 0px;
}

.header-section h2{
    color: rgb(113, 15, 113);
    font-weight: 500;
    font-size: medium;
    margin: 0px 0px 0px 0px;
}

/* .image-section{
    position: relative;
    width: 700px;
    height: 400px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
} */

.img-frame1{
    position: relative;
    top: 0px;
    left: 100px;
    margin: 0px 5px 10px 50px;
}

.img-frame1 img {
    width: 288px;
    height: 384px;
    border-radius: 50%;
}

.img-frame2{
    position: relative;
    /* top: 0px; */
    /* width: 1475px; */
    /* height: 300px; */
    overflow: hidden;
}

/* 4656 × 2218 */
/* Original dimensions 4656 × 922 */
.img-frame2 img {
    object-fit: scale-down;
    object-position: center;
    /* width: 1475px; */
    width: 100%;
    /* height: 734px; */
    /* height: 292px; */
    /* height: 100%; */
    /* margin: -250px 0px 0px 0px; */
    /* border: 5px solid black; */
}

/* #yosemite {
    object-fit: scale-down;
    object-position: center;
    width: 1475px;
} */

.links{
    height: 40px;
    margin: 0px 0px 0px 0px;
}

.links a{
    color: #599DD9;
    display: inline;
    font-weight: 1000;
    padding: 0px 12px 0px 0px;
}

.links i{
    color: black;
    font-size: 20px;
    margin-right: 10px;
}

.snowFlake{
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

.snowFlake img{
    width: 200px;
    height: 200px;
}

.snowflake-divider{
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px;
}

.snowflake-divider img{
    width: 50px;
    height: 50px;
    /* display: none; */
}


.research-section{
    /* width: 700px; */
    /* height: 100px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left; */
    margin: 30px 10px 0px 10px;
    padding-bottom: 30px;
}

.research-section h3{
    /* margin: 20px 0px 0px 0px; */
    margin: 1.25em 0em 0em 0em;
}

.research-section h4{
    font-weight: 500;
    font-size: medium;
    margin: 0px;
}

.research-section p{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

#more {display: none;}
#more2 {display: none;}
#more3 {display: none;}
#more4 {display: none;}
#more5 {display: none;}

/* .research-section p more {
    display: none;
} */